/* Write your CSS here */
.container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 35px;
  font-weight: bold;
}
.description {
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Bree Serif';
}
.button {
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 15px;
  background-color: white;
  border-radius: 5px;
  height: 10px;
  width: 60px;
}
